---
import Layout from "../layouts/Layout.astro";
import SliderLanding from "../components/SliderLanding";
---

<Layout title="TopZone">
  <main>
    <SliderLanding />
    <div>
      <p>Welcome to ...</p>
      <h1></h1>
    </div>
  </main>
</Layout>
